.js_container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}
