.container{
    display:grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: 1fr 1fr 20%;
    border:3px solid blue;
    width:50vh;
}
.border{
    border:4px solid orange;
}
.header{
    grid-column:1/12;
}
.footer{
    grid-column:1/12;
}
.menu{
    grid-column:1/5;
}
.content{
    grid-column: 5/12;
}