
    body{
        border:8px #f2f2f2 solid;
        border:solid 5px black;
        display:flex;
        box-sizing: border-box;
    }
    div{
        margin-top:106px;
    }
    .texto_autor{
        font-size:18px;
        margin-bottom: 40px;
    }
    h1{
        font-size:32px;
        margin-bottom:32px;
    }
    .texto{
        font-size:18px;
        margin-bottom:27px;
    }
    a{
        padding:8px 16px;
        margin-left:16px;
    }